services:
  backend:
    build: ./backend
    container_name: backend
    image: brahmanand09/mern-stack-app:backend-1.0
    ports:
      - "5050:5050" 
    networks:
      - mern_network 
    depends_on:
      - mongodb
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: frontend
    image: brahmanand09/mern-stack-app:frontend-1.0
    ports:
      - "5173:5173"  
    networks:
      - mern_network
    restart: unless-stopped

  mongodb:
    image: mongo:latest  
    ports:
      - "27017:27017"  
    networks:
      - mern_network
    volumes:
      - mongo-data:/data/db  

networks:
  mern_network:
    driver: bridge 

volumes:
  mongo-data:
    driver: local  # Persist MongoDB data locally
